body {
  font-family: sans-serif;
  color: #333;
}

header,
main {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0 1rem;
}

color-legend-element:not(:defined) {
  display: none;
}

color-legend-element:defined {
  display: inline-block;
  margin-bottom: 3rem;
  border: 1px solid gray;
}